/*globals*/
body,html{
  margin: 0;
  padding: 0;
}
.row{
  height: 100px;
  width: 100%; 
}

.big{
  height: 200px;
  width: 100%;
}


/*other*/
.gray{
  background-color: lightgrey;
  padding: 25px;
  box-sizing: border-box;
}

.box2{
  width:50px;
  height: 50px;
  background-color: steelblue;
}
.white{
  box-sizing: border-box;
  padding: 50px;
}
.blue{
  background-color: steelblue;
}
.turquoise{
  background-color: turquoise;
}
.olive{
  background-color: #9BCB77;
}
.yellow{
  background-color: yellow;
}